*
{
    margin: 0;
    padding: 0;
}

html, body, #container
{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

body
{
    font-family: "Times New Roman";
    font-size: 16px;
}

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p           (normal)
.jssort01 .p:hover     (normal mouseover)
.jssort01 .pav           (active)
.jssort01 .pav:hover     (active mouseover)
.jssort01 .pdn           (mousedown)
*/
.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 68px;
    height: 68px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
}


/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(a17.png) no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

.artist-slider-inner { position: relative; top: 0px; left: 0px; width: 700px; height: 700px; overflow: hidden; }
.col-2-2 .artist-slider-inner { width: 520px; height: 520px; }
.artist-slider-inner .slides { cursor: move; position: absolute; left: 0px; top: 0px; width: 700px; height: 600px; overflow: hidden; }
.col-2-2 .artist-slider-inner .slides { width: 520px; height: 420px; }
.jssora05l, .jssora05r { width: 40px; height: 40px; top: 279px; }
.col-2-2 .jssora05l, .col-2-2 .jssora05r { width: 40px; height: 40px; top: 189px; }
.artist-slider-inner .jssort01 { position: absolute; width: 700px; height: 100px; left: 0px; bottom: 0px; }
.col-2-2 .artist-slider-inner .jssort01 { width: 520px; }

.col-1 { position: absolute; top: 0; left: 0; width: 700px; height: 1080px; background: #191919; }
.col-2 { position: absolute; top: 0; left: 700px; width: 480px; height: 1060px; padding: 10px 20px; }
.col-3 { position: absolute; top: 0; left: 1220px; width: 700px; height: 1080px; background: #191919; }
.col-2-2 .col-1 { width: 520px; }
.col-2-2 .col-2 { left: 520px; width: 400px; }
.col-2-2 .col-2-2 { position: absolute; top: 0; left: 980px; width: 400px; height: 1060px; }
.col-2-2 .col-3 { left: 1400px; width: 520px; }

.artist-title, .track-title { font-size: 36px; font-family: "Times New Roman"; margin: 13px 0; }

.artist-wiki-wrap { position: relative; overflow: hidden; }
.artist-wiki { position: absolute; top: 0; }

.track-lyrics-wrap { position: relative; overflow: hidden; }
.track-lyrics { position: absolute; top: 0; }

.album-cover { display: block; margin: 30px; width: 640px; }
.col-2-2 .album-cover { display: block; margin: 20px; width: 480px; }
