{% extends "base.html" %}

{% block title_part %}История дружбы между {{ user1.username }} и {{ user2.username }} - Статистика{% endblock %}

{% block container %}
    <h2>История дружбы между {{ user1.username }} и {{ user2.username }}</h2>

    <div id="chart" style="width: 100%; height: 500px;"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Неделя');
        data.addColumn('number', '{{ user1.username }}');
        data.addColumn({type: 'string', role: 'annotation'});
        data.addColumn({type: 'string', role: 'annotationText'});
        data.addColumn('number', '{{ user2.username }}');
        data.addColumn({type: 'string', role: 'annotation'});
        data.addColumn({type: 'string', role: 'annotationText'});
        data.addRows({{ data|safe }});

        var options = {
          title: 'История дружбы между {{ user1.username }} и {{ user2.username }}'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
