{% extends "base.html" %}

{% block title_part %}{{ title }}{% endblock %}

{% block container %}    
    <h2>{{ title }}</h2>
    
    {% if step == 1 %}
        <p>Нам потребуется ваша помощь. У каких исполнителей в этом году выходили альбомы?</p>

        <form action="{{ request.url }}" method="post" class="form hit-parade" data-year="{{ year }}">
            <table class="table table-striped">
                {% for artist, scrobbles, new_tracks in artists %}
                    <tr>
                        <td>{{ scrobbles }}</td>
                        <td>
                            <div class="checkbox {% if new_tracks %}text-success{% endif %}" style="margin: 0;">
                                <label><input type="checkbox" name="artist" value="{{ artist }}" /> {{ artist }}</label>
                            </div>
                            <table class="table-bordered table-condensed">
                                {% for track, albums in new_tracks %}
                                    <tr>
                                        <td>{{ track }}</td>
                                        <td>{{ albums|join(", ") }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <input type="submit" class="btn btn-primary" value="Далее" />

            <input type="hidden" name="step" value="2" />
        </form>
    {% endif %}

    {% if step == 2 %}
        <p>Хорошо, а теперь какие из треков этих исполнителей, прослушанных вами в этом году, были на этих альбомах?

        <form action="{{ request.url }}" method="post" class="form hit-parade" data-year="{{ year }}">
            {% for artist, track_albums_isnew in artist_tracks %}
                <h4>{{ artist }}</h4>

                <table class="table table-striped">
                    {% for track, albums, isnew in track_albums_isnew %}
                        <tr>
                            <td>
                                <div class="checkbox {% if isnew %}text-success{% endif %}" style="margin: 0;">
                                    <label><input type="checkbox" name="track" value="{{ artist }} - {{ track }}" />{{ track }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radio" style="margin: 0;">
                                    {% for album in albums %}
                                        <label>
                                            <input type="radio" name="{{ artist }} - {{ track }}" value="{{ album }}" style="float: none;" /> {{ album }}
                                        </label>
                                    {% endfor %}

                                    <label>
                                        <input type="radio" name="{{ artist }} - {{ track }}" value="Другой альбом" style="float: none;" /> Другой альбом
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <input type="hidden" name="artist" value="{{ artist }}" />
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Далее" />

            <input type="hidden" name="step" value="3" />
        </form>
    {% endif %}

    {% if step == 3 %}
        <p>Проверьте, что всё верно, и мы сможем сгенерировать хит-парад.</p>

        <form action="{{ request.url }}" method="post" class="form hit-parade" data-year="{{ year }}">
            {% for artist, track_length in artist_tracks %}
                <h4>{{ artist }}</h4>
                <table class="table">                
                    {% for track, album, length in track_length %}
                        <tr>
                            <td style="width: 165px; line-height: 28px;">
                                <input type="hidden" name="track" value="{{ artist }} - {{ track }}" />
                                <input type="hidden" name="album" value="{{ album }}" />
                                <input type="text" class="form-control" name="length_m" value="{% if length %}{{ (length.length / 60)|round(0, 'floor')|int }}{% endif %}" style="display: inline; width: 42px; text-align: right; margin-bottom: 0;" />
                                :
                                <input type="text" class="form-control" name="length_s" value="{% if length %}{% if length.length % 60 < 10 %}0{{ length.length % 60 }}{% else %}{{ length.length % 60 }}{% endif %}{% endif %}" style="display: inline; width: 42px; text-align: right; margin-bottom: 0;" />
                            </td>
                            <td style="line-height: 32px;">{{ track }}</td>
                        </div>
                    {% endfor %}
                </table>
                <input type="hidden" name="artist" value="{{ artist }}" />
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Готово" />

            <input type="hidden" name="step" value="4" />
        </form>
    {% endif %}

    {% if step == 4 %}
        Сортировать по:
        <ul class="nav nav-pills hit-parade-sorter">
            {% for (k, v) in [('scrobbles', 'Количеству'),
                              ('scrobbles_a_day', 'Количеству в день'),
                              ('length', 'Времени'),
                              ('length_a_day', 'Времени в день'),
                              ('mean', 'Среднему'),
                              ('mean_with_time', 'Среднему со временем'),
                              ('median', 'Медиане'),
                              ('median_with_time', 'Медиане со временем'),] %}
                <li{% if sort == k %} class="active"{% endif %}><a href="{{ k|replace('_', '-') }}">{{ v }}</a></li>
            {% endfor %}
        </ul>

        {% macro format_length(length) %}{{ (length / 3600)|round(0, 'floor')|int }}:{% if (length / 60)|int % 60 < 10 %}0{{ (length / 60)|int % 60 }}{% else %}{{ (length / 60)|int % 60 }}{% endif %}{% endmacro %}

        <div class="parade">
        {% for (artist, album, tracks,
                total_scrobbles,
                total_length,
                scrobbles_a_day,
                length_a_day,
                mean,
                mean_with_time,
                median,
                median_with_time) in parade %}
            <div data-scrobbles="{{ total_scrobbles }}"
                 data-length="{{ total_length }}"
                 data-scrobbles-a-day="{{ scrobbles_a_day }}"
                 data-length-a-day="{{ length_a_day }}"
                 data-mean="{{ mean }}"
                 data-mean-with-time="{{ mean_with_time }}"
                 data-median="{{ median }}"
                 data-median-with-time="{{ median_with_time }}">
                <h4>
                    <span>{{ loop.index }}</span>.
                    {{ artist }} - {{ album }}
                </h4>
                <h5>
                    {{ total_scrobbles }} скробблов
                    ({{ "%.2f"|format(scrobbles_a_day) }} в день),
                    {{ format_length(total_length) }}
                    ({{ format_length(length_a_day) }} в день),
                    в среднем {{ mean|round(2) }}
                    (cо временем {{ format_length(mean_with_time) }}),
                    медиана {{ median|round(0)|int }}
                    (со временем {{ format_length(median_with_time) }})
                </h5>
                <div class="well">
                    <table class="table">
                        {% for (track, scrobbles, length, total_length, first_scrobble, last_scrobble) in tracks %}
                            <tr>
                                <td>{{ track }}</td>
                                <td>{{ scrobbles }}</td>
                                <td>x</td>
                                <td>{{ format_length(length) }}</td>
                                <td>=</td>
                                <td>{{ format_length(total_length) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}