{% extends "base.html" %}

{% block title_part %}{{ user.username }} не сидится на месте - Статистика{% endblock %}

{% block container %}
    <h2>Куда лучше всего переехать {{ user.username }}</h2>

    <table class="table table-striped table-bordered table-condensed fixed-header" id="prediction-table">
        <thead>
            <th>Город</th>
            <th>Концерты</th>
        </thead>
        <tbody>
            {% for city, artists in cities %}
                <tr>
                    <td>{{ city }}</td>
                    <td>
                        {#
                        <ul>
                            {% for artist, events in artists %}
                                <li>{{ artist }} ({{ events }})</li>
                            {% endfor %}
                        </ul>
                        #}
                        {{ artists|join(", ") }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
