{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {% block title_part %}{% endblock %} - last.fm.thelogin.ru
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">last.fm.thelogin.ru</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {% for endpoint, title in [('index',        'Новинки'),
                                               ('analytics',    'Аналитика'),
                                               ('usercp',       'Настройки')] %}
                        <li{% if request.endpoint.startswith(endpoint) %} class="active"{% endif %}><a href="{{ url_for(endpoint) }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <sup>{{ current_user_scrobble_count }}</sup> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('rss', username=current_user.username) }}">RSS новинок</a></li>
                            <li><a href="{{ url_for('logout') }}">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jquery.fixedheadertable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='jquery.fixedheadertable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
{% endblock %}
 
